@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~sass-material-design-colors/palette';

.search-bar {
  // margin-bottom: 3em;

  .search-box {
    position: relative;
    font-size: 1.8em;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px 5px 0 0;
    outline: none;
    z-index: 10;
    border-width: 2px 2px 0;

    input {
      border: 0;
      font-size: 1em;
      font-weight: 300;
      padding: .3em .4em;
    }

    .btn {
      border: 0;
      padding: .5rem;
      cursor: pointer;
      opacity: .5;
      color: #888;

      &:hover {
        background: none;
        opacity: 1;
      }
    }
  }

  .search-help {
    position: relative;
    display: block;
    color: #aaa;
    opacity: 0;
    transform: translateY(-100%);
    z-index: 0;
    padding: .5em 1em;
    transition: all .3s ease;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .Select-control {
    border: 2px solid #ddd;
    border-width: 0 2px 2px;
    border-radius: 0 0 5px 5px;
    font-weight: 300;
  }

  .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-top: none;
    box-shadow: none;
    margin-top: -4px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }

  .is-focused:not(.is-open) > .Select-control {
    border-color: #ddd;
    box-shadow: none;
  }

  .Select-option {
    font-weight: 300;
    // display: inline-block;
    // border-radius: 3em;
    // margin: 3px;
    // padding: .2em 1em;
    font-size: .8em;
    // border: 1px solid #eee;

    // &:hover {
    //   background: $light-green-100;
    //   border-color: $light-green-300;
    // }
  }

  .Select-option.is-focused {
    background: $amber-100;
    border-color: $amber-300;
  }

  .Select-option.is-selected {
    font-weight: 700;
    background: $amber-200;
    border-color: $amber-400;
  }
}

.results {
  .no-result {
    color: #bbb;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
  }

  .row {
    padding: 2em 0;

    .meta {
      display: flex;
      align-items: center;
      text-align: right;
      padding-top: 1rem;
      padding-bottom: 1rem;

      > * {
        flex: 0 0 100%;
      }

      h1 {
        font-family: Montserrat, $font-family-sans-serif;
        font-weight: 700;
        font-size: 1.3em;
        letter-spacing: .3em;
        text-transform: uppercase;
        margin-right: -.3em;
      }

      h4 {
        opacity: .5;
        font-size: 2.5em;
        font-weight: 300;
        line-height: .8;
        margin-bottom: 1em;
      }

      a.btn {
        margin-bottom: .5em;
        padding: .5em 1.5em;
      }

      .released {
        margin-top: 1em;
        font-weight: 400;
      }

      .copyright {
        color: #aaa;
        font-size: .7em;
        font-weight: 300;
        text-transform: uppercase;
      }

      @include media-breakpoint-down(sm) {
        font-size: .8em;
        text-align: center;
        padding-top: 3rem;
      }

      @include media-breakpoint-down(md) {
        font-size: .8em;
      }
    }

    .image {
      img {
        // border: 3px solid #444;
        border-radius: 5px;
        box-shadow: 0 30px 70px rgba(#000, .3);
        max-width: 100%;
      }
    }
  }
}


.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 1s ease;
}
